@charset "UTF-8";
.buttom-bg {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.buttom-bg .buttom-box {
  width: 100%;
}

.rocket {
  width: 14vw;
  height: 17.4%;
  position: absolute;
  top: 16%;
  left: 14.8%;
}

.rocket .rocket-box {
  width: 100%;
  animation: rocket 30s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite alternate-reverse;
}

.celestial-body1 {
  width: 6vw;
  height: 6vw;
  position: absolute;
  bottom: 23.5vh;
  left: 15.5vw;
}

.celestial-body1 .celestial-body-box1 {
  width: 100%;
  animation: rocket 50s cubic-bezier(0, 0.1, 0.55, 0.25) infinite;
}

.celestial-body2 {
  width: 4vw;
  height: 4vw;
  position: absolute;
  top: 6.2vh;
  right: 23.3vw;
}

.celestial-body2 .celestial-body-box2 {
  width: 100%;
  animation: rocket 60s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
}

.celestial-body3 {
  width: 5.33vw;
  height: 5.33vw;
  position: absolute;
  bottom: 33.7vh;
  right: 22vw;
}

.celestial-body3 .celestial-body-box3 {
  width: 100%;
  animation: rocket 80s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
}

.content {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.draw {
  position: relative;
  width: 52vw;
  height: 52vw;
  background-image: url("../assets/bg_light.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  animation: fadenum 5s infinite linear;
  -webkit-animation: fadenum 5s infinite linear;
  /* Safari 和 Chrome */
}

.draw .draw-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30.3vw;
  height: 30.3vw;
  background-image: url("../assets/bg_earth.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@keyframes fadenum {
  100% {
    transform: rotate(360deg);
  }
}

#circle {
  position: relative;
  width: 26vw;
  height: 26vw;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ball {
  text-align: center;
  font-weight: 500;
}

.set-btn {
  position: absolute;
  font-size: 3vh;
  top: 50%;
  left: 0%;
  transform: translate(50%, -50%);
  padding: 2.3vh 3vw;
  background: #09c196;
  border-radius: 15%;
}

.solid-limit {
  width: 70vw;
  padding: 5vh 5vw;
  position: absolute;
  top: 30%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1vw);
  border-radius: 2.8vw;
  z-index: 1;
}

.value {
  font-size: 2vw;
  margin-bottom: 2vh;
}

.submit {
  font-size: 1.6vw;
  padding: 1vh 2vw;
  border-radius: 1vw;
}

.change-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  padding: 2vh 0;
}

.change-quantity .quantity {
  border: 0.01vw solid #555151;
  padding: 0.6vw;
  font-size: 1.7vw;
  margin: 0 0.7vw;
  cursor: pointer;
}

.change-quantity .live {
  background-color: #1e80ff;
}

.draw-move-ball {
  position: absolute;
  width: 26vw;
  height: 26vw;
  border-radius: 50%;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.draw-move-ball .move-ball {
  text-align: center;
  line-height: 3vh;
  font-size: 2vw;
  font-weight: 500;
}

.main-img {
  position: absolute;
  right: 33.8vw;
  top: 14.2vh;
}

.ufo {
  position: absolute;
}

.ufo .ufo-box {
  width: 14.8vw;
  height: 12.8vw;
  animation: ufoRotate 1.5s linear forwards;
  -webkit-animation: ufoRotate 1.5s forwards;
  /* Safari 和 Chrome */
}

.ufo .ufo-light-box {
  width: 12.8vw;
  height: 12.8vw;
  position: absolute;
  right: 7.6vw;
  top: 15.7vh;
  transform: rotate(10deg);
  animation: ufoLight 1.5s linear forwards;
}

.closeWrapper {
  position: absolute;
  width: 5vw;
  height: 5vw;
  top: 3.33vh;
  right: 0.4vw;
}

.close {
  position: absolute;
  width: 1.5vw;
  height: 1.5vw;
  border: 0.1vh solid;
  border-radius: 50%;
}

.close::before,
.close::after {
  position: absolute;
  content: '';
  background-color: #cccccc;
  width: 0px;
  height: 1vw;
  border: 0.1vh solid;
  left: 50%;
  top: 10%;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.result-popup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  padding: 5.5vh 5.5vw;
  position: absolute;
  top: 30%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1vw);
  border-radius: 2.8vw;
  z-index: 1;
}

.result-ball {
  width: 8.3vw;
  height: 8.3vw;
  border-radius: 50%;
  line-height: 8.3vw;
  font-size: 3vw;
  margin: 2vw;
}

@keyframes rocket {
  25% {
    transform: translateY(-2vh);
    animation-timing-function: ease-in;
    transform: rotate(5deg);
  }
  50% {
    transform: translate(5vh, -2vw);
  }
  70% {
    transform: translateX(3vw);
    transform: rotate(-10deg);
  }
  90% {
    transform: translateY(5vh);
  }
}

@-webkit-keyframes rocket /* Safari 与 Chrome */ {
  25% {
    transform: translateY(-2vh);
    animation-timing-function: ease-in;
    transform: rotate(5deg);
  }
  50% {
    transform: translate(5vh, -2vw);
  }
  70% {
    transform: translateX(3vw);
    transform: rotate(-10deg);
  }
  90% {
    transform: translateY(5vh);
  }
}

@-webkit-keyframes ripple {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes ripple {
  0% {
    opacity: 0;
    -moz-transform: scale(0.1, 0.1);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -moz-transform: scale(1);
  }
}

@-o-keyframes ripple {
  0% {
    opacity: 0;
    -o-transform: scale(0.1, 0.1);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -o-transform: scale(1);
  }
}

@keyframes ripple {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

#serve-img-area.paused .point-area .point-10:after,
#serve-img-area.paused .point-area .point-20:after,
#serve-img-area.paused .point-area .point-80:after {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  /* Safari 和 Chrome */
}

@-webkit-keyframes ufoRotate {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(0.3);
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1) rotate(35deg);
  }
}

@-webkit-keyframes ufoLight {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes bounceInDown {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    -ms-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    -ms-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}

.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}

/*base code*/
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transform: scale(1);
  }
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    -ms-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
