@mixin wh($width, $height) {
  width: $width;
  height: $height;
}
@mixin font($size, $weight, $color) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
@mixin bg($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.content {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  // align-items: center;
  @include bg('../assets/bg.png');
  // background-color: gainsboro;
}
.video-box {
  position: absolute;
  @include wh(100%, 100%);
  top: 0;
  left: 0;
}
.buttom-bg {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: buttomBg 10s infinite linear;
  -webkit-animation: buttomBg 10s infinite linear; /* Safari 和 Chrome */
  .buttom-box {
    width: 100%;
  }
}
@keyframes buttomBg {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(1vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
@-webkit-keyframes buttomBg /* Safari 与 Chrome */ {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(1vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
.rocket {
  @include wh(14vw, 17.4%);
  position: absolute;
  top: 16%;
  left: 14.8%;
  .rocket-box {
    width: 100%;
    animation: rocket 30s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite
      alternate-reverse;
    -webkit-animation: rocket 30s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite
      alternate-reverse;
  }
}
.celestial-body1 {
  @include wh(6vw, 6vw);
  position: absolute;
  bottom: 23.5vh;
  left: 15.5vw;
  .celestial-body-box1 {
    width: 100%;
    animation: rocket 50s cubic-bezier(0, 0.1, 0.55, 0.25) infinite;
    -webkit-animation: rocket 50s cubic-bezier(0, 0.1, 0.55, 0.25) infinite;
  }
}
.celestial-body2 {
  @include wh(4vw, 4vw);
  position: absolute;
  top: 6.2vh;
  right: 23.3vw;
  .celestial-body-box2 {
    width: 100%;
    animation: rocket 60s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
    -webkit-animation: rocket 60s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
  }
}
.celestial-body3 {
  @include wh(5.33vw, 5.33vw);
  position: absolute;
  bottom: 33.7vh;
  right: 22vw;
  .celestial-body-box3 {
    width: 100%;
    animation: rocket 80s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
    -webkit-animation: rocket 80s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
  }
}
.star1 {
  @include wh(4.66vw, 4.66vw);
  position: absolute;
  top: 4.8vw;
  left: 10.83vw;
  .star-box1 {
    width: 100%;
    animation: starOpacity 5s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
    -webkit-animation: starOpacity 5s cubic-bezier(0.1, 0.25, 0.75, 0.25)
      infinite;
  }
}
.star2 {
  @include wh(2.33vw, 2.33vw);
  position: absolute;
  top: 15.8vw;
  left: 14.83vw;
  .star-box2 {
    width: 100%;
    animation: starOpacity 8s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
    -webkit-animation: starOpacity 8s cubic-bezier(0.1, 0.25, 0.75, 0.25)
      infinite;
  }
}
.star3 {
  @include wh(3vw, 3vw);
  position: absolute;
  top: 8.8vw;
  right: 10.83vw;
  .star-box3 {
    width: 100%;
    animation: starOpacity 13s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
    -webkit-animation: starOpacity 13s cubic-bezier(0.1, 0.25, 0.75, 0.25)
      infinite;
  }
}
.star4 {
  @include wh(3.5vw, 3.5vw);
  position: absolute;
  top: 3.8vw;
  left: 50vw;
  .star-box4 {
    width: 100%;
    animation: starOpacity 3s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
    -webkit-animation: starOpacity 3s cubic-bezier(0.1, 0.25, 0.75, 0.25)
      infinite;
  }
}
.star5 {
  @include wh(2.66vw, 2.66vw);
  position: absolute;
  bottom: 15.8vw;
  left: 10.83vw;
  .star-box5 {
    width: 100%;
    animation: starOpacity 4s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
  }
}
.star6 {
  @include wh(4.66vw, 4.66vw);
  position: absolute;
  top: 4.8vw;
  right: 3.83vw;
  .star-box6 {
    width: 100%;
    animation: starOpacity 7s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
  }
}

.star7 {
  @include wh(4.66vw, 4.66vw);
  position: absolute;
  top: 0.8vw;
  right: 16.83vw;
  .star-box7 {
    width: 100%;
    animation: starOpacity 20s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
  }
}
.star8 {
  @include wh(3vw, 3vw);
  position: absolute;
  top: 16vw;
  left: 1.83vw;
  .star-box8 {
    width: 100%;
    animation: starOpacity 30s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
  }
}

.draw {
  position: relative;
  @include wh(52vw, 52vw);
  @include bg('../assets/bg_light.png');
  animation: fadenum 3s infinite linear;
  -webkit-animation: fadenum 3s infinite linear; /* Safari 和 Chrome */
  .draw-box {
    position: absolute;
    top: 12vw;
    left: 50%;
    transform: translateX(-50%);
    @include wh(28vw, 28vw);
    @include bg('../assets/galaxy_earth.png');
  }
}
@keyframes fadenum {
  100% {
    transform: rotate(360deg);
  }
}
#circle {
  position: relative;
  width: 28vw;
  height: 28vw;
  // background-color: lightblue;
  border-radius: 50%;
  left: 50%;
  // transform: translate(-45%, 0);
  transform: translateX(-49.5%);
}

.ball {
  text-align: center;
  font-weight: 500;
}
.draw-move-ball {
  position: absolute;
  width: 28vw;
  height: 28vw;
  // background-color: lightblue;
  border-radius: 50%;
  top: 12vw;
  left: 50%;
  transform: translateX(-49.5%);
  .move-ball {
    text-align: center;
    line-height: 2.5vw;
    font-size: 2vw;
    font-weight: 500;
  }
}
.main-img {
  position: absolute;
  right: 33.8vw;
  top: 6.66vw;
}
.ufo {
  position: absolute;
  .ufo-box {
    @include wh(14.8vw, 12.8vw);
    animation: ufoRotate 1.5s linear forwards;
    -webkit-animation: ufoRotate 1.5s forwards; /* Safari 和 Chrome */
  }
  .ufo-light-box {
    @include wh(12.8vw, 12.8vw);
    position: absolute;
    right: 7.6vw;
    top: 9vw;
    transform: rotate(10deg);
    animation: ufoLight 1.5s linear forwards;
    -webkit-animation: ufoLight 1.5s linear forwards;
  }
}
// .set-btn {
//   position: absolute;
//   font-size: 3vh;
//   bottom: 0%;
//   left: 0%;
//   transform: translate(50%, -50%);
//   padding: 2.3vh 3vw;
//   // background: rgba(224, 0, 0, 0.363);
//   background: rgb(9, 193, 150);
//   border-radius: 50%;
//   // width: fit-content;
//   color: #a6f885;
//   font-size: 24px;
//   text-transform: uppercase;
//   transition: 0.5s;
//   letter-spacing: 4px;
//   cursor: pointer;
// }
// .set-btn:hover {
//   background-color: #4de41f;
//   color: #4de41f;
//   box-shadow: 0 0 5px #4de41f, 0 0 25px #4de41f, 0 0 50px #4de41f,
//     0 0 200px #4de41f;
// }
.set-btn {
  position: absolute;
  font-size: 3vh;
  bottom: 2%;
  left: 5%;
  // transform: translate(50%, -50%);
  @include wh(7vw, 7vw); // background: rgba(224, 0, 0, 0.363);
  @include bg('../assets/icon-setting.png');
  border-radius: 50%;
  // width: fit-content;
  color: #a6f885;
  font-size: 24px;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  cursor: pointer;
}
.set-btn:hover {
  box-shadow: #555151;
}

.solid-limit {
  width: 70vw;
  padding: 5vh 5vw;
  position: absolute;
  top: 30%;
  left: 10vw;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(1vw);
  border-radius: 2.8vw;
  z-index: 1;
}

.value {
  font-size: 2vw;
  margin-bottom: 4vh;
}

.submit {
  font-size: 1.6vw;
  padding: 1vh 2vw;
  border-radius: 1vw;
}

.change-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  padding: 2vh 0;
  margin-top: 3vh;

  .quantity {
    border: 0.01vw solid #555151;
    padding: 0.6vw;
    font-size: 1.7vw;
    margin: 0 0.7vw;
    cursor: pointer;
  }
  .live {
    background-color: #1e80ff;
  }
}
.closeWrapper {
  position: absolute;
  width: 5vw;
  height: 5vw;
  top: 2vw;
  right: 0.4vw;
}

.close {
  position: absolute;
  width: 1.5vw;
  height: 1.5vw;
  border: 0.1vh solid;
  border-radius: 50%;
}

.close::before,
.close::after {
  position: absolute;
  content: '';
  background-color: #cccccc;
  width: 0px;
  height: 1vw;
  border: 0.1vh solid;
  left: 50%;
  top: 10%;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}
.result-popup {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 70%;
  padding: 5.5vh 5vw;
  position: absolute;
  top: 30%;
  left: 10vw;
  text-align: center;
  background-color: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(1vw);
  border-radius: 2.8vw;
  z-index: 1;
}
.result-ball {
  @include wh(8.3vw, 8.3vw);
  border-radius: 50%;
  line-height: 8.3vw;
  font-size: 3vw;
  margin: 2vw;
}
.result-bg1 {
  @include bg('../assets/top_sphere1.png');
}
.result-bg2 {
  @include bg('../assets/top_sphere2.png');
}
.result-bg3 {
  @include bg('../assets/top_sphere3.png');
}
.result-bg4 {
  @include bg('../assets/top_sphere4.png');
}
.result-bg5 {
  @include bg('../assets/top_sphere5.png');
}
@keyframes starOpacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes starOpacity /* Safari 与 Chrome */ {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
// 火箭
@keyframes rocket {
  25% {
    transform: translateY(-2vh);
    animation-timing-function: ease-in;
    transform: rotate(5deg);
  }

  50% {
    transform: translate(5vh, -2vw);
  }

  70% {
    transform: translateX(3vw);
    transform: rotate(-10deg);
  }

  90% {
    transform: translateY(5vh);
  }
}
@-webkit-keyframes rocket /* Safari 与 Chrome */ {
  25% {
    transform: translateY(-2vh);
    animation-timing-function: ease-in;
    transform: rotate(5deg);
  }

  50% {
    transform: translate(5vh, -2vw);
  }

  70% {
    transform: translateX(3vw);
    transform: rotate(-10deg);
  }

  90% {
    transform: translateY(5vh);
  }
}

@-webkit-keyframes ripple {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
  }

  5% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes ripple {
  0% {
    opacity: 0;
    -moz-transform: scale(0.1, 0.1);
  }

  5% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -moz-transform: scale(1);
  }
}

@-o-keyframes ripple {
  0% {
    opacity: 0;
    -o-transform: scale(0.1, 0.1);
  }

  5% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -o-transform: scale(1);
  }
}

@keyframes ripple {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1, 0.1);
    -moz-transform: scale(0.1, 0.1);
    -ms-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
  }

  5% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

// UFO光圈
#serve-img-area.paused .point-area .point-10:after,
#serve-img-area.paused .point-area .point-20:after,
#serve-img-area.paused .point-area .point-80:after {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
  /* Safari 和 Chrome */
}

@-webkit-keyframes ufoRotate {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(0.3);
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1) rotate(35deg);
  }
}
@-webkit-keyframes ufoLight {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
// 设置弹窗动画
// 进场
/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes bounceInDown {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

//离场
/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    -ms-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    -ms-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}

// .animated {
//   -webkit-animation-duration: 1s;
//   animation-duration: 1s;
//   -webkit-animation-fill-mode: both;
//   animation-fill-mode: both;
// }

// .animated.infinite {
//   -webkit-animation-iteration-count: infinite;
//   animation-iteration-count: infinite;
// }

// .animated.hinge {
//   -webkit-animation-duration: 2s;
//   animation-duration: 2s;
// }

// /*the animation definition*/
// @-webkit-keyframes hinge {
//   0% {
//     -webkit-transform-origin: top left;
//     transform-origin: top left;
//     -webkit-animation-timing-function: ease-in-out;
//     animation-timing-function: ease-in-out;
//   }

//   20%,
//   60% {
//     -webkit-transform: rotate3d(0, 0, 1, 80deg);
//     transform: rotate3d(0, 0, 1, 80deg);
//     -webkit-transform-origin: top left;
//     transform-origin: top left;
//     -webkit-animation-timing-function: ease-in-out;
//     animation-timing-function: ease-in-out;
//   }

//   40%,
//   80% {
//     -webkit-transform: rotate3d(0, 0, 1, 60deg);
//     transform: rotate3d(0, 0, 1, 60deg);
//     -webkit-transform-origin: top left;
//     transform-origin: top left;
//     -webkit-animation-timing-function: ease-in-out;
//     animation-timing-function: ease-in-out;
//     opacity: 1;
//   }

//   100% {
//     -webkit-transform: translate3d(0, 700px, 0);
//     transform: translate3d(0, 700px, 0);
//     opacity: 0;
//   }
// }

// @keyframes hinge {
//   0% {
//     -webkit-transform-origin: top left;
//     -ms-transform-origin: top left;
//     transform-origin: top left;
//     -webkit-animation-timing-function: ease-in-out;
//     animation-timing-function: ease-in-out;
//   }

//   20%,
//   60% {
//     -webkit-transform: rotate3d(0, 0, 1, 80deg);
//     -ms-transform: rotate3d(0, 0, 1, 80deg);
//     transform: rotate3d(0, 0, 1, 80deg);
//     -webkit-transform-origin: top left;
//     -ms-transform-origin: top left;
//     transform-origin: top left;
//     -webkit-animation-timing-function: ease-in-out;
//     animation-timing-function: ease-in-out;
//   }

//   40%,
//   80% {
//     -webkit-transform: rotate3d(0, 0, 1, 60deg);
//     -ms-transform: rotate3d(0, 0, 1, 60deg);
//     transform: rotate3d(0, 0, 1, 60deg);
//     -webkit-transform-origin: top left;
//     -ms-transform-origin: top left;
//     transform-origin: top left;
//     -webkit-animation-timing-function: ease-in-out;
//     animation-timing-function: ease-in-out;
//     opacity: 1;
//   }
//   100% {
//     -webkit-transform: translate3d(0, 700px, 0);
//     -ms-transform: translate3d(0, 700px, 0);
//     transform: translate3d(0, 700px, 0);
//     opacity: 0;
//   }
// }

// .hinge {
//   -webkit-animation-name: hinge;
//   animation-name: hinge;
// }

//UFO
/*base code*/
.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    transform: scale(1);
  }
}
@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    -ms-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}
.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

//结果弹窗出现动画
/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
