@mixin wh($width, $height) {
  width: $width;
  height: $height;
}
@mixin font($size, $weight, $color) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
@mixin bg($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.content {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(31, 31, 35);
}
.content-background {
  @include bg('../assets/bg.png');
}
.video-box {
  // position: absolute;
  height: 100%;
  // top: 0;
  // left: 0;
}
.buttom-bg {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: buttomBg 10s infinite linear;
  -webkit-animation: buttomBg 10s infinite linear; /* Safari 和 Chrome */
  .buttom-box {
    width: 100%;
  }
}
@keyframes buttomBg {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(1vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
@-webkit-keyframes buttomBg /* Safari 与 Chrome */ {
  0% {
    transform: translateY(0vh);
  }
  50% {
    transform: translateY(1vh);
  }
  100% {
    transform: translateY(0vh);
  }
}
.rocket {
  @include wh(14vw, 17.4%);
  position: absolute;
  top: 16%;
  left: 14.8%;
  .rocket-box {
    width: 100%;
    animation: rocket 30s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite
      alternate-reverse;
    -webkit-animation: rocket 30s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite
      alternate-reverse;
  }
}
.celestial-body1 {
  @include wh(6vw, 6vw);
  position: absolute;
  bottom: 23.5vh;
  left: 15.5vw;
  .celestial-body-box1 {
    width: 100%;
    animation: rocket 50s cubic-bezier(0, 0.1, 0.55, 0.25) infinite;
    -webkit-animation: rocket 50s cubic-bezier(0, 0.1, 0.55, 0.25) infinite;
  }
}
.celestial-body2 {
  @include wh(4vw, 4vw);
  position: absolute;
  top: 6.2vh;
  right: 23.3vw;
  .celestial-body-box2 {
    width: 100%;
    animation: rocket 60s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
    -webkit-animation: rocket 60s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
  }
}
.celestial-body3 {
  @include wh(5.33vw, 5.33vw);
  position: absolute;
  bottom: 33.7vh;
  right: 22vw;
  .celestial-body-box3 {
    width: 100%;
    animation: rocket 80s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
    -webkit-animation: rocket 80s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
  }
}
.star1 {
  @include wh(4.66vw, 4.66vw);
  position: absolute;
  top: 4.8vw;
  left: 10.83vw;
  .star-box1 {
    width: 100%;
    animation: starOpacity 5s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
    -webkit-animation: starOpacity 5s cubic-bezier(0.1, 0.25, 0.75, 0.25)
      infinite;
  }
}
.star2 {
  @include wh(2.33vw, 2.33vw);
  position: absolute;
  top: 15.8vw;
  left: 14.83vw;
  .star-box2 {
    width: 100%;
    animation: starOpacity 8s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
    -webkit-animation: starOpacity 8s cubic-bezier(0.1, 0.25, 0.75, 0.25)
      infinite;
  }
}
.star3 {
  @include wh(3vw, 3vw);
  position: absolute;
  top: 8.8vw;
  right: 10.83vw;
  .star-box3 {
    width: 100%;
    animation: starOpacity 13s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
    -webkit-animation: starOpacity 13s cubic-bezier(0.1, 0.25, 0.75, 0.25)
      infinite;
  }
}
.star4 {
  @include wh(3.5vw, 3.5vw);
  position: absolute;
  top: 3.8vw;
  left: 50vw;
  .star-box4 {
    width: 100%;
    animation: starOpacity 3s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
    -webkit-animation: starOpacity 3s cubic-bezier(0.1, 0.25, 0.75, 0.25)
      infinite;
  }
}
.star5 {
  @include wh(2.66vw, 2.66vw);
  position: absolute;
  bottom: 15.8vw;
  left: 10.83vw;
  .star-box5 {
    width: 100%;
    animation: starOpacity 4s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
  }
}
.star6 {
  @include wh(4.66vw, 4.66vw);
  position: absolute;
  top: 4.8vw;
  right: 3.83vw;
  .star-box6 {
    width: 100%;
    animation: starOpacity 7s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
  }
}

.star7 {
  @include wh(4.66vw, 4.66vw);
  position: absolute;
  top: 0.8vw;
  right: 16.83vw;
  .star-box7 {
    width: 100%;
    animation: starOpacity 20s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
  }
}
.star8 {
  @include wh(3vw, 3vw);
  position: absolute;
  top: 16vw;
  left: 1.83vw;
  .star-box8 {
    width: 100%;
    animation: starOpacity 30s cubic-bezier(0.1, 0.25, 0.75, 0.25) infinite;
  }
}

.draw {
  position: relative;
  @include wh(52vw, 52vw);
  @include bg('../assets/bg_light.png');
  animation: fadenum 3s infinite linear;
  -webkit-animation: fadenum 3s infinite linear; /* Safari 和 Chrome */
  .draw-box {
    position: absolute;
    top: 12vw;
    left: 50%;
    transform: translateX(-50%);
    @include wh(28vw, 28vw);
    @include bg('../assets/galaxy_earth.png');
  }
}
@keyframes fadenum {
  100% {
    transform: rotate(360deg);
  }
}

.goGroup-btn {
  position: absolute;
  font-size: 3vh;
  bottom: 2%;
  right: 5%;
  @include wh(7vw, 7vw);
  background: rgb(256, 170, 56);
  border-radius: 50%;
  line-height: 7vw;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

@keyframes starOpacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes starOpacity /* Safari 与 Chrome */ {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
// 火箭
@keyframes rocket {
  25% {
    transform: translateY(-2vh);
    animation-timing-function: ease-in;
    transform: rotate(5deg);
  }

  50% {
    transform: translate(5vh, -2vw);
  }

  70% {
    transform: translateX(3vw);
    transform: rotate(-10deg);
  }

  90% {
    transform: translateY(5vh);
  }
}
@-webkit-keyframes rocket /* Safari 与 Chrome */ {
  25% {
    transform: translateY(-2vh);
    animation-timing-function: ease-in;
    transform: rotate(5deg);
  }

  50% {
    transform: translate(5vh, -2vw);
  }

  70% {
    transform: translateX(3vw);
    transform: rotate(-10deg);
  }

  90% {
    transform: translateY(5vh);
  }
}
