@mixin wh($width, $height) {
  width: $width;
  height: $height;
}
@mixin font($size, $weight, $color) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
}
@mixin bg($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.content {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include wh(100vw, 100vh);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  // @include bg('../assets/bg1.png');
  /* 火狐 */
  -moz-user-select: none;
  /* Safari 和 欧朋 */
  -webkit-user-select: none;
  /* IE10+ and Edge */
  -ms-user-select: none;
  /* Standard syntax 标准语法(谷歌) */
  user-select: none;
}
.startPopup {
  opacity: 0.99;
  padding: 1vw 3vw;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  backdrop-filter: blur(0.5vw);
  border-radius: 2.8vw;
  background-color: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(1vw);
  z-index: 9;
  .start-btn {
    width: 50%;
    padding: 2vw 2vw;
    margin: auto;
    margin-top: 20%;
    border-radius: 4vw;
    font-size: 2vw;
    color: #fff;
    background-color: #006cee;
  }
}
.goBack {
  position: absolute;
  top: 3vh;
  left: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  @include wh(5vw, 5vw);
  border: 0.1vw solid #000;
  border-radius: 50%;
  z-index: 10;
}
.double-category {
  display: flex;
  justify-content: space-around;
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
.question {
  position: relative;
  @include wh(50vw, 100vh);
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(0.2vw);
  // border-radius: 3vw;
  box-shadow: 0.01vw 0.01vw 0.05vw #ccc;
}

.title {
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 2vw;
  margin-top: 15vh;
}

.options {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: center;
  margin-bottom: 2vw;
}

// .options :nth-of-type(0) {
//   margin-right: 2vw;
// }
// .options :nth-of-type(2) {
//   margin-right: 2vw;
// }
.option {
  width: 40vw;
  flex-wrap: wrap;
  text-align: left;
  padding: 1vw;
  border: 0.1vw solid #383636;
  border-radius: 5vw;
  margin: 1vw;
  font-size: 2vw;
  cursor: pointer;
}
.option.active {
  border-color: #007aff;
  color: #007aff;
}
.option.success {
  border-color: rgb(103, 194, 58);
  color: rgb(103, 194, 58);
}
.option.error {
  border-color: rgb(245, 108, 108);
  color: rgb(245, 108, 108);
}
.submit {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.submit button {
  padding: 1vw 2vw;
  border: none;
  border-radius: 1vw;
  background-color: #007aff;
  color: #fff;
  font-size: 3vw;
  margin: 2vw;
  cursor: pointer;
}

.submit button:hover {
  background-color: #006cee;
}

.result {
  font-size: 2vw;
  font-weight: bold;
  margin-bottom: 1vw;
}

.result.correct {
  color: green;
}

.result.incorrect {
  color: red;
}

.result-popup {
  overflow: auto;
  opacity: 0.97;
  padding: 1vw 3vw;
  max-height: 80%;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 8vh;
  left: 7vw;
  // text-align: center;
  // background-color: hsla(0, 0%, 100%, 0.5);
  backdrop-filter: blur(0.5vw);
  border-radius: 2.8vw;
  background: #b4a078 radial-gradient(at 30% 30%, #f7f5f1, #b4a078);
  z-index: 9;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(20, 20, 20, 0.2);
    border-radius: 0.5vw;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
  .result-score {
    position: relative;
    display: flex;
    color: #383636;
    font-size: 2vw;
    line-height: 3vw;
    margin-top: 2vw;
    .more-btn {
      position: absolute;
      right: 3vw;
      padding: 1vw 2vw;
      background-color: #006cee;
      border-radius: 1vw;
      color: #fff;
    }
  }
  //滚动条样式
  .result-title {
    font-size: 2vw;
    line-height: 3vw;
    margin-top: 2vw;
  }
  .result-option {
    font-size: 1.6vw;
    line-height: 2vw;
    margin-top: 1vw;
  }
  .success {
    font-size: 1.6vw;
    line-height: 2vw;
    margin-top: 1vw;
    color: rgb(103, 194, 58);
  }
  .error {
    font-size: 1.6vw;
    line-height: 2vw;
    margin-top: 1vw;
    color: rgb(245, 108, 108);
  }
  .result-answer-s {
    font-size: 1.6vw;
    color: rgb(103, 194, 58);
    margin-top: 1vw;
  }
  .result-answer-e {
    font-size: 1.6vw;
    color: rgb(245, 108, 108);
    margin-top: 1vw;
  }
}
.closeWrapper {
  position: fixed;
  width: 2vw;
  height: 2vw;
  text-align: center;
  line-height: 2vw;
  top: 2vw;
  right: 2vw;
  border: 0.1vw solid #000;
  border-radius: 50%;
  /deep/.van-icon {
    font-size: 2vw;
  }
}
.countDown {
  position: absolute;
  @include wh(7vw, 7vw);
  @include bg('../assets/timer.png');
  border-radius: 50%;
  font-size: 2vw;
  text-align: center;
  line-height: 7vw;
  top: 2vh;
  left: 50%;
  transform: translate(-50%, 0);
  color: #d19f3a;
  animation: alarm-2 0.5s infinite;
  z-index: 1;
}

//闹钟晃动
@keyframes alarm-2 {
  0% {
    transform: translate(-50%, 0) rotate(10deg);
  }

  25% {
    transform: translate(-50%, 0) rotate(0deg);
  }
  50% {
    transform: translate(-50%, 0) rotate(-10deg);
  }
  75% {
    transform: translate(-50%, 0) rotate(0deg);
  }
  100% {
    transform: translate(-50%, 0) rotate(10deg);
  }
}

// 设置弹窗动画
// 进场
/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes bounceInDown {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%,
  100%,
  60%,
  75%,
  90% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    -ms-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    -ms-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    -ms-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

//离场
/*base code*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}
/*the animation definition*/
@-webkit-keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    -webkit-transform: translate3d(-20px, 0, 0);
    -ms-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    -ms-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }
}
.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}
