.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home .title {
  position: absolute;
  color: black;
  font-size: 2vw;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
  background: #000;
}

.container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  top: 6vh;
  left: 50%;
  transform: rotateX(25deg) rotateY(-25deg) translate(-50%, 0);
}

p {
  text-align: center;
  display: block;
  font-size: 10vh;
  margin-top: 1vh;
  letter-spacing: 0.1em;
  max-height: 6vh;
}

.category {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  top: 45vh;
  left: 50%;
  transform: translate(-50%, 0);
}

.category .category-single {
  text-align: center;
  display: block;
  padding: 1vw;
  font-size: 10vh;
  margin-top: 1vh;
  border: 1vh solid #44a;
  border-radius: 1vw;
}

.category .category-double {
  text-align: center;
  display: block;
  padding: 1vw;
  font-size: 10vh;
  margin-top: 1vh;
  border: 1vh solid #f99;
  border-radius: 1vw;
}

.a {
  color: #88e;
  text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.3), 0.04em 0.04em 0 #112, 0.045em 0.045em 0 #88e, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #66c, 0.14em 0.14em 0 #112, 0.145em 0.145em 0 #44a;
  animation: pulsea 300ms ease infinite alternate;
}

.b {
  color: #f99;
  text-shadow: 0 0 0.3em rgba(255, 100, 200, 0.3), 0.04em 0.04em 0 #112, 0.045em 0.045em 0 #f99, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #b66, 0.14em 0.14em 0 #112, 0.145em 0.145em 0 #a44;
  animation: pulseb 300ms ease infinite alternate;
}

@keyframes pulsea {
  0% {
    text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.3), 0.04em 0.04em 0 #112, 0.045em 0.045em 0 #88e, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #66c, 0.14em 0.14em 0 #112, 0.145em 0.145em 0 #aaf;
  }
  50% {
    text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.3), 0.04em 0.04em 0 #112, 0.045em 0.045em 0 #88e, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #aaf, 0.14em 0.14em 0 #112, 0.145em 0.145em 0 #44a;
  }
  75% {
    text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.3), 0.04em 0.04em 0 #112, 0.045em 0.045em 0 #aaf, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #66c, 0.14em 0.14em 0 #112, 0.145em 0.145em 0 #44a;
  }
  100% {
    text-shadow: 0 0 0.3em rgba(200, 200, 255, 0.4), 0.04em 0.04em 0 #112, 0.045em 0.045em 0 #88e, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #66c, 0.14em 0.14em 0 #112, 0.145em 0.145em 0 #44a;
  }
}

@keyframes pulseb {
  0% {
    text-shadow: 0 0 0.3em rgba(255, 100, 200, 0.3), 0.04em 0.04em 0 #112, 0.045em 0.045em 0 #f99, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #b66, 0.14em 0.14em 0 #112, 0.145em 0.145em 0 #faa;
  }
  50% {
    text-shadow: 0 0 0.3em rgba(255, 100, 200, 0.3), 0.04em 0.04em 0 #112, 0.045em 0.045em 0 #f99, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #faa, 0.14em 0.14em 0 #112, 0.145em 0.145em 0 #a44;
  }
  75% {
    text-shadow: 0 0 0.3em rgba(255, 100, 200, 0.3), 0.04em 0.04em 0 #112, 0.045em 0.045em 0 #faa, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #b66, 0.14em 0.14em 0 #112, 0.145em 0.145em 0 #a44;
  }
  100% {
    text-shadow: 0 0 0.3em rgba(255, 100, 200, 0.3), 0.04em 0.04em 0 #112, 0.045em 0.045em 0 #f99, 0.09em 0.09em 0 #112, 0.095em 0.095em 0 #b66, 0.14em 0.14em 0 #112, 0.145em 0.145em 0 #a44;
  }
}

.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 5vh;
  right: 2vw;
}

.sidebar .sidebar-hint {
  width: 4vw;
  height: 4vw;
  background-image: url("../assets/wenhao.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sidebar .sidebar-star {
  width: 6vw;
  height: 5vw;
  background-image: url("../assets/star.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sidebar .sidebar-ranking {
  width: 5vw;
  height: 5vw;
  background-image: url("../assets/ranking.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.sidebar .sidebar-setting {
  margin-top: 1vh;
  width: 5vw;
  height: 5vw;
  background-image: url("../assets/setting.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
